 @import url('https://fonts.googleapis.com/css?family=Oswald:500');

:root {
  --yellow-color: #A89E40; /* Laranjinha */
  --dark-gray: #1C1C1C; /* Cinza Escuro */
}

nav a{
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  margin: 0 14px;
  font-size: 15px;
  letter-spacing: 1px;
  position: relative;
  display: inline-block;
}

.slidebar {
    position: fixed;
    background-color: var(--dark-gray);
    height: 115px;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#cosmeticos, #catalogo, #contato, #sobre {
  padding-top: 250px;
}
